<% @title = 'Sign in' %>

<div class="row">
  <div class="span8">
    <div class="page-header">
      <h1><%= @title %></h1>
    </div>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= f.email_field :email, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-md-10 checkbox">
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          </div>
        </div>
      <% end -%>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <%= f.submit "Sign in", class: 'btn btn-primary' %>
          <%= render partial: 'contour/links' %>
        </div>
      </div>

      <%= render partial: 'contour/authentications/login_table' %>
    <% end %>
  </div>

  <div class="span4">
    <%= render partial: 'contour/layouts/latest_news' %>
  </div>
</div>
