<% @title = 'Forgot your password?' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
      <%= render partial: 'contour/links' %>
    </div>
  </div>
<% end %>
