<%% @title = '<%= resource_title_plural %>' %>
<div class="page-header">
  <h1>
    <%%= @title %>
    <%%= link_to "Create <%= resource_title %>", new_<%= resource_name %>_path, class: 'btn btn-xs btn-primary' %>
  </h1>
</div>

<%%= form_tag <%= resource_name_plural %>_path, method: :get, remote: true, id: "<%= resource_name_plural %>_search", class: 'form-search', data: { object: 'form-load', no_turbolink: true } do %>
  <%%= hidden_field_tag :order %>
  <%%= text_field_tag 'search', params[:search], class: 'form-control' %>
  <%%= submit_tag 'Search', class: 'btn btn-primary' %>
<%% end %>

<div id="<%= resource_name_plural %>"><div class="center"><%%= image_tag "contour/ajax-loader.gif" %></div></div>
