<% @title = 'Register' %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <fieldset style="width:235px">
    <legend><%= @title %></legend>
    
    <% if resource.methods.include?(:first_name) %>
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name  %>
      </div>
    <% end %>
  
    <% if resource.methods.include?(:last_name) %>
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name  %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>

    <% if resource.password_required? %>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </div>
    <% end %>
  </fieldset>
  <div class="actions">
    <% form_name = "#{resource.class.name.underscore}_new" %>
    <%= link_to_function image_tag('contour/tick.png', :alt => '') + "Sign up", "$('##{form_name}').submit();", :class => "button positive" %>
    <div style="clear:both"></div><br />
    <%= link_to "Already signed up? Login here!", new_session_path(resource_name) %>
  </div>
<% end %>