<% @title = 'About Contour' %>

<div class="row" style="margin-top:54px">
  <div class="span12">
    <h1 class="about-title"><%= @title %></h1>
  </div>
</div>

<hr class="soften">

<p class="about-description">Contour is a <%= link_to 'free to use*', 'https://github.com/remomueller/contour/blob/master/LICENSE', rel: 'tooltip', data: { title: 'Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License' } %> and <%= link_to 'open source', 'https://github.com/remomueller/contour', rel: 'tooltip', data: { title: 'Source code freely available on GitHub' } %> Ruby on Rails gem for rapid prototyping of Rails applications with nice default styling and a solid authentication system.</p>

<hr class="soften">

<footer class="footer">
  <p class="muted about-footer">Contour Version <%= link_to Contour::VERSION::STRING, "https://github.com/remomueller/contour/tree/#{Contour::VERSION::MAJOR}.#{Contour::VERSION::MINOR}.#{Contour::VERSION::TINY}" %></p>
</footer>


<h2 class="about-title" style="text-align:left">Application Configuration</h2>

<p>Contour can be configured in:</p>

<p style='margin-left:10px'><tt>config/initializers/contour.rb</tt></p>

<p>If the file does not exist run:</p>

<p style='margin-left:10px'><tt>rails generate contour:install</tt></p>

<dl class="dl-horizontal">
  <% unless request.script_name.blank? %>
    <dt>Subdomain</dt>
    <dd><%= request.script_name %></dd>
  <% end %>
  <% (Contour.class_variables.collect{|v| v.to_s.gsub('@@','')} - ['menu_items']).each do |attribute| %>
    <dt><%= attribute.titleize %></dt>
    <% if Contour.send(attribute).blank? %>
      <dd class="muted">NULL</dd>
    <% else %>
      <dd><%= Contour.send(attribute) %></dd>
    <% end %>
  <% end %>
</dl>
