<% display = ['not_signed_in', 'always'] %>
<% if user_signed_in? -%>
  <% display = ['signed_in', 'always'] %>
<% end %>

<% Contour.menu_items.each do |menu_item| %>
  <% if display.include?(menu_item[:display]) %>
    <div style="float:<%= menu_item[:position] %>">
      <%= link_to_function (menu_item[:eval] ? eval(menu_item[:name]) : menu_item[:name]), "$('#menu_#{menu_item[:id]}').show();", :onmouseover => "$('#menu_#{menu_item[:id]}').show();" %>
      <div style="position:relative;">
        <div id="menu_<%= menu_item[:id] %>" class="menu_dropdown_<%= menu_item[:position_class] %>" style="display:none">
          <% menu_item[:links].each do |link| %>
            <% if link[:html].blank? %>
              <div style="white-space:nowrap">
                <%= link_to (link[:eval] ? eval(link[:name]) : link[:name]), eval(link[:path]), :class => 'noicon' %>
              </div>
            <% else %>
              <%= link[:eval] ? eval(link[:html]).html_safe : link[:html].html_safe %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% ids = Contour.menu_items.select{|mi| display.include?(mi[:display])}.collect{|mi| mi[:id]} %>
<%= javascript_tag "hideOnMouseOut([#{ids.collect{|id| "'#menu_#{id}'"}.join(',')}]);" %>

<%= render :partial => 'contour/authentications/menu' unless user_signed_in? %>

<div style="clear:both"></div>