<table style="border-collapse:collapse;table-layout:fixed;margin:0px;padding:0px;border-width:0px"><%= ("<col width='64px'/>" * PROVIDERS.size).html_safe %>
  <tr>
    <% PROVIDERS.each do |provider| %>
      <% url_params = (provider == :google_apps) ? '?domain=gmail.com' : '' %>
      <% if provider == :open_id %>
        <% provider_name = 'OpenID' %>
        <% image_name = 'openid' %>
      <% elsif provider == :linked_in %>
        <% provider_name = 'LinkedIn' %>
        <% image_name = 'linkedin' %>
      <% elsif [:LDAP, :CAS].include?(provider) %>
        <% provider_name = provider.to_s.upcase %>
        <% image_name = provider.to_s.downcase %>
      <% else %>
        <% provider_name = provider.to_s.titleize %>
        <% image_name = provider.to_s.downcase %>
      <% end %>
      <td style="white-space:nowrap;text-align:center;border-width:0px">
        <a href="<%= request.script_name %><%= "/" + OmniAuth.config.path_prefix.split('/').last.to_s %><%= "/" + provider.to_s.downcase %><%= url_params %>" class="noicon"><%= image_tag "contour/#{image_name}_64.png", :align => 'absmiddle', :height => "64px", :alt => provider_name %></a>
        <br /><br />
        <%= provider_name %>
      </td>
    <% end %>
  </tr>
</table>