<% PROVIDERS.each do |provider| %>
  <% provider_name = OmniAuth.config.camelizations[provider.to_s.downcase] || provider.to_s.titleize %>
  <% image_name = provider.to_s.downcase %>
  <li>
    <a href="<%= request.script_name %><%= "/" + OmniAuth.config.path_prefix.split('/').last.to_s %><%= "/" + provider.to_s.downcase %>">
      <%= image_tag "contour/#{image_name}_32.png", align: 'absmiddle', height: "28px", title: provider_name %>
      <%= provider_name %>
    </a>
  </li>
<% end %>
